body {
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #08235c;
  padding: 10px;
}
.h1{
  color: orangered;
}
.jumbotron {
  text-align: center;
  background-color:white;
  color: rgb(87, 87, 255);
  border-radius: 0;
  border-bottom: 3px solid orangered;
}

.description{
  white-space: pre-wrap;
}

.event-input{
  text-align: center;
  border-radius: 15px;
  color: #08235c;
  border-style: outset;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-style: inset;
  border-color: orange;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.saveBtn {
  
  border-style: inset;
  border-color: orange;
  border-radius: 12px;
  background-color: #1779a7;
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all .1s ease-in-out;
  
}




